<ion-grid>
    <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-card>
                <ion-card-content>
                    <ion-slides pager="true" [options]="slideOpts">
                        <ion-slide>
                            <h2>Welcome to Smart Expense Manager</h2>
                            <p>This is Expense management tool</p>
                        </ion-slide>
                        <ion-slide>
                            <h2>Modern Expense Manager</h2>
                            <p>Provides bill receipts image recognition technique</p>
                        </ion-slide>
                        <ion-slide>
                            <h2>This site provides Google Maps Integration</h2>
                            <p>Store locations expense wise</p>
                        </ion-slide>
                    </ion-slides>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>


